<div class='account <%= type.toLowerCase() %>'>
  <img src='/assets/<%= type.toLowerCase() %>.png' alt='<%= type %> logo'/>
  <% if (account === null) { %>
    <div class='info'>
      You haven't linked your <%= type %> account
    </div>
    <a href='/oauth/<%= type.toLowerCase() %>'>Link it now!</a>
  <% } else { %>
    <div class='info'>
      <%= account.name || account.display_name %>
    </div>
    <% if (typeof warning === 'undefined') { %>
      <a href='/oauth/<%= type.toLowerCase() %>/unlink'>Unlink</a>
    <% }  else { %>
      <a href='#' onclick='if(confirm("Are you sure? This will DELETE your account from our database.")) window.location = "/oauth/<%= type.toLowerCase() %>/unlink"'>Unlink</a>
    <% } %>
  <% } %>
</div>
