<div class="asset">
  <h3><%= name %></h3>
  <div class='content'>
    <img src="<%= assets[0] %>" alt="<%= name %>"/>
  </div>
  <div class="footer">
    <% assets.map(asset => { %>
      <a href="<%= asset %>" download target="_blank">.<%= asset.split('.').pop() %></a>
    <% }) %>
  </div>
</div>
