<!-- hey cutie -->
<nav class='navbar'>
  <a class='title' href='/'>
    <img src='/assets/logo.svg' alt='Powercord logo' />
    <h1>Powercord</h1>
  </a>
  <div class='items'>
    <a href='https://github.com/powercord-org/powercord/wiki/Installation' target='_blank'>Installation</a>
    <a href='/contributors'>Contributors</a>
    <a href='https://discord.gg/5eSH46g' target='_blank'>Discord Server</a>
    <% if (isAdmin) { %>
      <a href='/dashboard'>Dashboard</a>
    <% } %>
  </div>
  <% if (typeof jwt === 'undefined') { %>
    <a href='/oauth/discord' class='login'>Login with Discord</a>
  <% } else { %>
    <div class='account'>
      <div class='avatar'>
        <% if (discord.avatar) { %>
          <%
            var ext = discord.avatar.startsWith('a_') ? 'gif' : 'png';
            var flags = discord.flags;
          %>
          <img src='https://cdn.discordapp.com/avatars/<%= discord.id %>/<%= discord.avatar %>.<%= ext %>' alt='Your avatar' class='img'/>
        <% } else { %>
          <img src='https://cdn.discordapp.com/embed/avatars/<%= discord.discriminator % 5 %>.png' alt='Your avatar' class='img'/>
        <% } %>

        <% if (typeof discord.premium_type !== 'undefined') { %>
          <img src='https://discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg' alt='NiscordDotro' class='nitro' title='Nitro'/>
        <% } %>
        <% if (flags & 256) { %>
          <img src='https://discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg' alt='HypeSquad Balance' class='hypesquad' title='HypeSquad Balance'/>
          <span class='hypesquad-bg'></span>
          <% flags = flags - (1 << 8) %>
        <% } %>
        <% if (flags & 128) { %>
          <img src='https://discordapp.com/assets/48cf0556d93901c8cb16317be2436523.svg' alt='HypeSquad Brilliance' class='hypesquad' title='HypeSquad Brilliance'/>
          <span class='hypesquad-bg nr'></span>
          <% flags = flags - (1 << 7) %>
        <% } %>
        <% if (flags & 64) { %>
          <img src='https://discordapp.com/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg' alt='HypeSquad Bravery' class='hypesquad' title='HypeSquad Bravery'/>
          <span class='hypesquad-bg nr hb'></span>
          <% flags = flags - (1 << 6) %>
        <% } %>

        <% if (isAdmin) { %>
          <img src='/assets/crown.svg' alt='Admin' class='admin' title='Admin'/>
        <% } %>
      </div>
      <div class='details'>
        <div class='name'><%= discord.username %><span>#<%= discord.discriminator %></span></div>
        <div>
          <a href='/me'>My Account</a> -
          <a href='/logout'>Logout</a>
        </div>
      </div>
    </div>
  <% } %>
</nav>
<!-- move along, nothing to see citizen -->
