<!-- hey cutie -->
<nav class='navbar'>
  <a class='title' href='/'>
    <img src='/assets/brand/plug.svg' alt='Powercord logo' />
    <h1>Powercord</h1>
  </a>
  <div class='items'>
    <a href='/installation'>Installation</a>
    <a href='/contributors'>Contributors</a>
    <a href='https://discord.gg/5eSH46g' target='_blank'>Discord Server</a>
  </div>
  <% if (typeof jwt === 'undefined') { %>
    <a href='/oauth/discord' class='login'>Login with Discord</a>
  <% } else { %>
    <div class='account'>
      <div class='avatar'>
        <% if (discord.avatar) { %>
          <%
            var ext = discord.avatar.startsWith('a_') ? 'gif' : 'png';
            var flags = discord.flags;
          %>
          <img src='https://cdn.discordapp.com/avatars/<%= discord.id %>/<%= discord.avatar %>.<%= ext %>' alt='Your avatar' class='img' onerror='handleErroredAvatar(this, <%= discord.discriminator %>)'/>
        <% } else { %>
          <img src='https://cdn.discordapp.com/embed/avatars/<%= discord.discriminator % 5 %>.png' alt='Your avatar' class='img'/>
        <% } %>
      </div>
      <div class='details'>
        <div class='name'><%= discord.username %><span>#<%= discord.discriminator %></span></div>
        <div>
          <a href='/me'>My Account</a> -
          <a href='/logout'>Logout</a>
        </div>
      </div>
    </div>
  <% } %>
</nav>
<!-- move along, nothing to see citizen -->
