<nav class='navbar'>
  <div class='title'>
    <img src='/assets/logo.svg' alt='Powercord logo' />
    <h1>Powercord</h1>
  </div>
  <div class='items'>
    <div class='item'>
      <a href='/'>Home</a>
      <a href='/contributors'>Contributors</a>
      <% if (isAdmin) { %>
        <a href='/dashboard'>Dashboard</a>
      <% } %>
    </div>
  </div>
  <% if (typeof discord === 'undefined') { %>
    <a href='/oauth/discord' class='login'>Login with Discord</a>
  <% } else { %>
    <div class='account'>
      <% if (discord.avatar) { %>
        <% var ext = discord.avatar.startsWith('a_') ? 'gif' : 'png' %>
        <img src='https://cdn.discordapp.com/avatars/<%= discord.id %>/<%= discord.avatar %>.<%= ext %>' alt='Your avatar' />
      <% } else { %>
        <img src='https://cdn.discordapp.com/embed/avatars/<%= discord.discriminator % 5 %>.png' alt='Your avatar' />
      <% } %>
      <div class='details'>
        <div class='name'><%= discord.username %><span>#<%= discord.discriminator %></span></div>
        <a href='/logout' class='logout'>Logout</a>
      </div>
    </div>
  <% } %>
</nav>
