<div class='plugin'>
  <% if (item.manifest === null) { %>
    <div class='header'>
      <div class='name'><%= item.name %></div>
      <div class='by'>by <%= item.user[0].metadata.username %><span>#<%= item.user[0].metadata.discriminator %></span></div>
    </div>
    <div class='info no-manifest'>There is no manifest for this plugin</div>
  <% } else { %>
  <% } %>
  <% if (isAdmin) { %>
    <div class='actions'>
      <a class='btn create' href='/dashboard/edit/<%= item._id %>'>Edit</a>
      <a class='btn delete' href='/dashboard/delete/<%= item._id %>'>Delete</a>
    </div>
  <% } %>
</div>
