<div class='plugin'>
  <% if (item.manifest === null) { %>
    <div class='header'>
      <div class='name'><%= item.name %></div>
      <div class='by'>by <%= item.user[0].metadata.username %><span>#<%= item.user[0].metadata.discriminator %></span></div>
    </div>
    <div class='info no-manifest'>There is no manifest for this plugin</div>
  <% } else { %>
    <div class='header'>
      <div class='name'><%= item.manifest.name %></div>
      <div class='by'>by <%= item.user[0].metadata.username %><span>#<%= item.user[0].metadata.discriminator %></span></div>
    </div>
    <div class='info'>
      <div class='element'>
        <img src='/assets/version.svg' alt='version'/>
        <span>v<%= item.manifest.version %></span>
      </div>
      <div class='element'>
        <img src='/assets/description.svg' alt='description'/>
        <span><%= item.manifest.description %></span>
      </div>
      <div class='element'>
        <img src='/assets/copyright.svg' alt='copyright'/>
        <span><%= item.manifest.license %></span>
      </div>
      <div class='element'>
        <img src='/assets/repo.svg' alt='repo'/>
          <% var repo = item.manifest.repo || 'https://github.com/aetheryx/powercord' %>
        <span><a href='<%= repo %>'><%= repo %></a></span>
      </div>
    </div>
  <% } %>
  <% if (isAdmin) { %>
    <div class='actions'>
      <a class='btn create' href='/dashboard/edit/<%= item._id %>'>Edit</a>
      <a class='btn delete' href='/dashboard/delete/<%= item._id %>'>Delete</a>
    </div>
  <% } %>
</div>
