<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include _parts/head %>
  <body>
    <% include _parts/navbar %>
    <div class='container'>
      <% if (typeof discord === 'undefined') { %>
        <div class='pc-header'>The best Discord client mod you'll ever need</div>
        <div class='features'>
          <%- include("_parts/feature", {
            name: "Spotify modal",
            banner: "/assets/features/spotify.png",
            description: "Pause, skip, forward and seek directly from Discord. You can even rightclick to play playlists, toggle repeat or even change the volume!"
          }) %>
          <%- include("_parts/feature", {
            name: "Built-in translator",
            banner: "/assets/features/translations.png",
            description: "Ever wonder what does weird Dutch guys are yapping on about? Just right click their message to translate back to English to give them the \"nee jij\" they deserve!"
          }) %>
          <%- include("_parts/feature", {
            name: "Neater codeblocks",
            banner: "/assets/features/codeblocks.png",
            description: "See linecount, formatting type and directly copy code from a codeblock!"
          }) %>
          <%- include("_parts/feature", {
            name: "Powerful plugin API",
            banner: ":thonking:",
            description: "Plugin developers, you get covered! Advanced dependency management, settings API, commands API and more!"
          }) %>
        </div>
      <% } else { %>
        <h2>Your accounts</h2>
        <%- include("_parts/account", {
          type: "Discord",
          account: { display_name: discord.username },
          warning: true
        }) %>
        <%- include("_parts/account", {
          type: "Spotify",
          account: typeof spotify !== 'undefined' ? spotify : null
        }) %>
        <%- include("_parts/account", {
          type: "GitHub",
          account: typeof github !== 'undefined' ? github : null
        }) %>
      <% } %>
    </div>
    <% include _parts/footer %>
  </body>
</html>
