<div class='plugin'>
    <h2><%= item.manifest.name %></h2>

    <div style='display: block'>
        <h3>Informations</h3>
        <div class='info'>
            <div class='element'>
                <img src='/assets/version.svg' alt='version'/>
                <span>v<%= item.manifest.version %></span>
            </div>
            <div class='element'>
                <img src='/assets/description.svg' alt='description'/>
                <span><%= item.manifest.description %></span>
            </div>
            <div class='element'>
                <img src='/assets/copyright.svg' alt='copyright'/>
                <span><%= item.manifest.license %></span>
            </div>
        </div>

        <h3>Settings</h3>
        <div class='plugin-settings'>
            <div class='input-field'>
                <label for='verified'>
                    Published
                    <input type='checkbox' id='published' name='published' <%= item.published ? 'checked' : '' %>/>
                </label>
            </div>
        </div>
    </div>
</div>
